﻿@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,400i,500,700|Montserrat:300,400,500,600,700');

@import "assets/css/bootstrap.css";
@import "assets/css/animate.css";
@import "assets/css/animsition.css";
@import "assets/css/font-awesome.css";
@import "assets/css/fontello.css";
@import "assets/css/owl.carousel.css";
@import "assets/css/flexslider.css";
@import "assets/css/cubeportfolio.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/ytplayer.css";
@import "assets/css/vegas.css";
@import "assets/css/shortcodes.css";
@import "includes/rev-slider/css/settings.css";
@import "includes/rev-slider/css/layers.css";
@import "includes/rev-slider/css/navigation.css";

/**
 * Reset Browsers
 * General
 * Elements
 * Forms
 * Typography
 * Extra classes
 * Layout
 * Top Bar
 * Header
 * Featured Title
 * Blog Post
 * Blog Single
 * Side Bar 
 * Footer
 * Bootom
 * Revolution Slider
 * Scroll Top
 * Media Queries
 **/

/* Reset Browsers
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit; }article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }*,*:before,*:after{ -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }body{background-color:#fff;line-height:1; }article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0; }caption,th,td{font-weight:normal;text-align:left; }blockquote:before,blockquote:after,q:before,q:after{content:'';content:none; }blockquote,q{quotes:none}a:focus{outline:none}a:hover,a:active{outline:0}a img{border:0}img{max-width:100%;height:auto; }select{max-width:100%}

/* General
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea { font-family: 'Poppins', sans-serif; font-weight: 400; color: #888; font-size: 14px; line-height: 1.9; background-color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; overflow-y: auto; overflow-x: hidden; }
img { height: auto; max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic }
p { margin: 0 0 24px; }
strong,
b,
cite { font-weight: bold; }
dfn,
cite,
em,
i,
blockquote { font-style: italic; }
blockquote { background-color: #fff; border-left: solid 5px #2594BF; padding: 0 0 0 20px; margin: 40px 0 34px 0; font-size: 16px; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }
blockquote > p:last-child { margin-bottom: 0; }
blockquote cite { position: absolute; right: 0; bottom: 0; }
blockquote em,
blockquote i { font-style: normal; }
abbr,
acronym { border-bottom: 1px dotted #f1f1f1; cursor: help; }
mark,
ins { text-decoration: none; }
sup,
sub { font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -6px; }
sub { bottom: -3px; }
small { font-size: 75%; }
big { font-size: 125%; }
address { font-style: italic; margin: 0 0 20px; }
code,
kbd,
tt,
var,
samp,
pre { margin: 20px 0; padding: 8px 12px; background-color: #f9f9f9; border: 1px solid #f1f1f1; overflow-x: auto; font-family: Inconsolata, monospace; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-radius: 0; height: auto; }

/* Elements
-------------------------------------------------------------- */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*,
*:before,
*:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
hr { background-color: #f1f1f1; border: 0; height: 1px; margin-bottom: 20px; }

/* List */
ul,
ol { padding: 0; margin: 0 0 20px 20px; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul,
li > ol { margin-bottom: 0; }
ul li,
ol li { line-height: 1.86em; padding: 0.1em 0; }
dl,
dd { margin: 0 0 20px; }
dt { font-weight: bold; }
del { filter: alpha(opacity=50); opacity: 0.5; }

/* Table */
table,
th,
td { border: 1px solid #f1f1f1; }
table { border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; margin: 0 0 30px; table-layout: fixed; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
th { border-width: 0 1px 1px 0; font-weight: bold; }
td { border-width: 0 1px 1px 0; }
th,
td { padding: 8px 12px; }

/* Media */
embed,
iframe,
object,
video { margin-bottom: 20px; max-width: 100%; vertical-align: middle; }
p > embed,
p > iframe,
p > object,
p > video { margin-bottom: 0; }

/* Accessibility - Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f9f9f9; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input { line-height: normal; }
button, input, select, textarea { font-size: 100%; line-height: inherit; margin: 0; vertical-align: baseline; }
input,
textarea { font-size: 1em; max-width: 100%; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */ }
textarea { overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */ vertical-align: top; /* Improves readability and alignment in all browsers */ }
input[type=checkbox] { display: inline; }
button, input[type=button], input[type=reset], input[type=submit] { line-height: 1; cursor: pointer; -webkit-appearance: button; border: 0; }
input[type=checkbox], input[type=radio] { padding: 0; /* Addresses excess padding in IE8/9 */ }
input[type=search] { -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ }
input[type=search]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */ -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove chrome yellow autofill */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset }

/* Reset search styling */
input[type=search] { outline: 0 }
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration { display: none }

/* Input normal */
select, textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color] { border: 1px solid #f1f1f1; padding: 16px 30px; background-color: #fff; line-height: inherit; width: 100%; margin-bottom: 20px; height: auto; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border ease .238s; -moz-transition: border ease .238s; transition: border ease .238s; }

/* Contact Form 7 */
.widget-form select,
.widget-form textarea,
.widgetform-form input { margin-bottom: 0; }

/* Input focus */
textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=week]:focus, input[type=number]:focus, input[type=email]:focus, input[type=url]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus { border-color: #c4c4c4; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* Button */
button, input[type=button], input[type=reset], input[type=submit] { font-family: "Montserrat", sans-serif; text-transform: uppercase; padding: 17px 25px; background-color: #2594BF; color: #fff; border-radius: 3px; display: inline-block; -webkit-appearance: none; -webkit-transition: all ease .238s; transition: all ease .238s; }

/* Button hover + focus */
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus { outline: 0; background-color: #232323; }

/* Placeholder color */
::-webkit-input-placeholder { color: #c7c7c7; font-style: italic; }
:-moz-placeholder { color: #c7c7c7; font-style: italic; }
::-moz-placeholder { color: #c7c7c7; opacity: 1; font-style: italic; }/* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: #c7c7c7; font-style: italic; }

/* Links */
a { color: #2594BF; outline: 0; text-decoration: none; -webkit-transition: all ease .238s; transition: all ease .238s; }

a:hover,
a:focus,
a:active { outline: 0; color: #232323; text-decoration: none }

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.font-heading { font-family: "Montserrat", sans-serif; color: #232323; font-weight: 400; line-height: 1.5; margin: 0 0 12px; text-rendering: optimizeLegibility; }

h1 { font-size: 2.571em; } /* 34px */
h2 { font-size: 2em; }     /* 28px */
h3 { font-size: 1.714em; } /* 24px */
h4 { font-size: 1.429em; } /* 20px */
h5 { font-size: 1.286em; } /* 18px */
h6 { font-size: 1.143em; } /* 16px */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: inherit }

/* Extra classes
-------------------------------------------------------------- */
.display-none, .hidden { display: none !important; }
.display-block { display: block !important; }
.display-inline { display: inline !important; }

.text-accent-color { color: #2594BF; }
.text-grey { color: #232323 !important; }
.text-grey-white { color: #e3e3e3; }
.text-white { color: #fff !important; }
.text-dark { color: #303030 !important; }
.text-light { color: #919191 !important; }
.text-very-light { color: #c5c5c5 !important; }

.bg-accent { background-color: #2594BF; }
.bg-dark { background-color: #303030 !important; }
.bg-light { background-color: #e3e3e3 !important; }
.bg-very-light { background-color: #f9f9f9 !important; }

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-del { text-decoration: line-through !important; }

.letter-spacing-1px { letter-spacing: 1px !important; }
.letter-spacing-2px { letter-spacing: 2px !important; }
.letter-spacing-3px { letter-spacing: 3px !important; }
.letter-spacing-4px { letter-spacing: 4px !important; }
.letter-spacing-5px { letter-spacing: 5px !important; }
.letter-spacing-6px { letter-spacing: 6px !important; }
.letter-spacing-7px { letter-spacing: 7px !important; }
.letter-spacing-8px { letter-spacing: 8px !important; }
.letter-spacing-9px { letter-spacing: 9px !important; }
.letter-spacing-10px { letter-spacing: 10px !important; }

.font-size-10 { font-size: 10px; }
.font-size-11 { font-size: 11px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-15 { font-size: 15px; }
.font-size-16 { font-size: 16px; }
.font-size-17 { font-size: 17px; }
.font-size-18 { font-size: 18px; }
.font-size-19 { font-size: 19px; }
.font-size-20 { font-size: 20px; }
.font-size-21 { font-size: 21px; }
.font-size-22 { font-size: 22px; }
.font-size-23 { font-size: 23px; }
.font-size-24 { font-size: 24px; }
.font-size-25 { font-size: 25px; }
.font-size-28 { font-size: 28px; }
.font-size-30 { font-size: 30px; }
.font-size-70 { font-size: 70px; }

.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.margin-top-0 { margin-top: 0px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-35 { margin-top: 35px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-45 { margin-top: 45px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-55 { margin-top: 55px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-65 { margin-top: 65px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-75 { margin-top: 75px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-85 { margin-top: 85px; }
.margin-top-90 { margin-top: 90px; }
.margin-top-95 { margin-top: 95px; }
.margin-top-100 { margin-top: 100px; }

.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-18 { margin-bottom: 18px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-35 { margin-bottom: 35px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-55 { margin-bottom: 55px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-65 { margin-bottom: 65px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-75 { margin-bottom: 75px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-85 { margin-bottom: 85px; }
.margin-bottom-90 { margin-bottom: 90px; }
.margin-bottom-95 { margin-bottom: 95px; }
.margin-bottom-100 { margin-bottom: 100px; }

.margin-right-0 { margin-right: 0px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-35 { margin-right: 35px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-45 { margin-right: 45px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-55 { margin-right: 55px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-65 { margin-right: 65px; }
.margin-right-70 { margin-right: 70px; }
.margin-right-75 { margin-right: 75px; }
.margin-right-80 { margin-right: 80px; }
.margin-right-85 { margin-right: 85px; }
.margin-right-90 { margin-right: 90px; }
.margin-right-95 { margin-right: 95px; }
.margin-right-100 { margin-right: 100px; }

.margin-left-0 { margin-left: 0px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-25 { margin-left: 25px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-35 { margin-left: 35px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-45 { margin-left: 45px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-55 { margin-left: 55px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-65 { margin-left: 65px; }
.margin-left-70 { margin-left: 70px; }
.margin-left-75 { margin-left: 75px; }
.margin-left-80 { margin-left: 80px; }
.margin-left-85 { margin-left: 85px; }
.margin-left-90 { margin-left: 90px; }
.margin-left-95 { margin-left: 95px; }
.margin-left-100 { margin-left: 100px; }
.margin-left-105 { margin-left: 105px; }

.padding-left-0 { padding-left: 0px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }
.padding-left-25 { padding-left: 25px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-35 { padding-left: 35px; }
.padding-left-40 { padding-left: 40px; }
.padding-left-45 { padding-left: 45px; }
.padding-left-50 { padding-left: 50px; }
.padding-left-55 { padding-left: 55px; }
.padding-left-60 { padding-left: 60px; }
.padding-left-65 { padding-left: 65px; }
.padding-left-70 { padding-left: 70px; }
.padding-left-75 { padding-left: 75px; }
.padding-left-80 { padding-left: 80px; }
.padding-left-85 { padding-left: 85px; }
.padding-left-90 { padding-left: 90px; }
.padding-left-95 { padding-left: 95px; }
.padding-left-100 { padding-left: 100px; }
.padding-left-105 { padding-left: 105px; }

.no-padding { padding: 0 !important; }

/* Clearfix */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after,
.wprt-container:before,
.wprt-container:after { clear: both; display: table; line-height: 0; content: ""; }
.clearfix:after,
.wprt-container:after { clear: both; }

.wprt-row { margin: 0 -10px }
.wprt-row .col { float: left; padding: 0 10px; }
.wprt-row .span_1_of_1.col { float: none }
.wprt-row .span_1_of_2 { width: 50% }
.wprt-row .span_1_of_3 { width: 33.33% }
.wprt-row .span_1_of_4 { width: 25% }
.wprt-row .span_1_of_5 { width: 20% }

/* Gutter */
.wprt-row.gutter-5 { margin-left: -2.5px; margin-left: -2.5px; }
.wprt-row.gutter-5 > .col { padding-left: 2.5px; padding-right: 2.5px}
.wprt-row.gutter-10 { margin-left: -5px; margin-right: -5px; }
.wprt-row.gutter-10 > .col { padding-left: 5px; padding-right: 5px; }
.wprt-row.gutter-15 { margin-left: -7.5px; margin-right: -7.5px; }
.wprt-row.gutter-15 > .col { padding-left: 7.5px; padding-right: 7.5px; }
.wprt-row.gutter-20 { margin-left: -10px; margin-right: -10px; }
.wprt-row.gutter-20 > .col { padding-left: 10px; padding-right: 10px; }
.wprt-row.gutter-25 { margin-left: -12.5px; margin-right: -12.5px; }
.wprt-row.gutter-25 > .col { padding-left: 12.5px; padding-right: 12.5px; }
.wprt-row.gutter-30 { margin-left: -15px; margin-right: -15px; }
.wprt-row.gutter-30 > .col { padding-left: 15px; padding-right: 15px; }
.wprt-row.gutter-35 { margin-left: -17.5px; margin-right: -17.5px; }
.wprt-row.gutter-35 > .col { padding-left: 17.5px; padding-right: 17.5px; }
.wprt-row.gutter-40 { margin-left: -20px; margin-right: -20px; }
.wprt-row.gutter-40 > .col { padding-left: 20px; padding-right: 20px; }
.wprt-row.gutter-45 { margin-left: -22.5px; margin-right: -22.5px; }
.wprt-row.gutter-45 > .col { padding-left: 22.5px; padding-right: 22.5px; }
.wprt-row.gutter-50 { margin-left: -25px; margin-right: -25px; }
.wprt-row.gutter-50 > .col { padding-left: 25px; padding-right: 25px; }
.wprt-row.gutter-60 { margin-left: -30px; margin-right: -30px; }
.wprt-row.gutter-60 > .col { padding-left: 30px; padding-right: 30px; }
.wprt-row.gutter-70 { margin-left: -35px; margin-right: -35px; }
.wprt-row.gutter-70 > .col { padding-left: 35px; padding-right: 35px; }
.wprt-row.gutter-80 { margin-left: -40px; margin-right: -40px; }
.wprt-row.gutter-80 > .col { padding-left: 40px; padding-right: 40px; }

.row.no-gutters { margin-right: 0; margin-left: 0; }
.row.no-gutters > [class*="col-"],
.container-fluid { padding-right: 0; padding-left: 0; }

/* Layout
-------------------------------------------------------------- */
.wprt-container { width: 1170px; margin: 0 auto; max-width: 90%; }
#page { background-color: #fff; }
#main-content { padding: 80px 0; }
.no-padding-content #main-content { padding: 0; }
.page-single-project #main-content { padding: 0; }

/* Overrdie for Front-Page and Pages
-------------------------------------------------------------- */
body.front-page #main-content,
body.page #main-content { padding-top: 0; padding-bottom: 0; }

/* Inner Content */
#inner-content,
#inner-sidebar { position: relative; z-index: 1; }

#inner-content:after,
#inner-sidebar:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-style: solid; border-width: 0; z-index: -1; }

/* Sidebar Right (default) */
#site-content { float: left; width: 65.811% }
#sidebar { float: right; width: 29.914%; }

/* Sidebar Left */
.sidebar-left #site-content { float: right; }
.sidebar-left #sidebar { float: left; }

/* No Sidebar */
.no-sidebar #site-content { width: 100% !important; max-width: none !important; float: none !important; }

/* Top Bar
-------------------------------------------------------------- */
#top-bar { background-color: #f1f1f1; }
#top-bar #top-bar-inner { padding: 8px 0; }
#top-bar .top-bar-inner-wrap { display: table; width: 100%; overflow: hidden; }
#top-bar .top-bar-inner-wrap .top-bar-content { display: table-cell; width: 60%; text-align: left; vertical-align: middle; }
#top-bar .top-bar-inner-wrap .top-bar-socials { display: table-cell; width: 40%; text-align: right; vertical-align: middle; }

/* Top Bar Content */
#top-bar .top-bar-content .content { position: relative; padding-left: 35px; margin-right: 40px; }
#top-bar .top-bar-content .content:after { position: absolute; top: -8px; left: 0; content: ""; font-family: "Fontawesome"; font-size: 20px; color: #2594BF; }
#top-bar .top-bar-content .content.phone:after { content: "\f095"; }
#top-bar .top-bar-content .content.address:after { content: "\f041"; }

/* Top Bar Socials */
#top-bar .top-bar-socials .icons a { width: 34px; height: 34px; margin-left: 6px; display: inline-block; text-align: center; line-height: 35px; color: #fff; background-color: #c7c7c7; border-radius: 10%; }
#top-bar .top-bar-socials .icons a:hover { background-color: #2594BF; }

/* Header
-------------------------------------------------------------- */
#site-header { background-color: #fff; position: relative; }
#site-header #site-header-inner { padding: 41px 0; position: relative; }
#site-header #site-logo { float: left; }
#site-header #main-nav { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 999; }
#site-header #header-search { opacity: 0; visibility: hidden; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 999; }

body.menu-has-search #site-header #main-nav { right: 0px; }
body.menu-has-search #site-header #header-search { opacity: 1; visibility: visible; }
body.header-style-3.menu-has-search #site-header #header-search { opacity: 1; visibility: visible; right: 3px; }

body.header-style-3 #top-bar { display: none; }
body.header-style-3 #site-header { -webkit-transition: all ease .238s; transition: all ease .238s; }
body.header-style-3 #site-header #site-header-inner { padding: 0; }
body.header-style-3 #site-header .site-header-wrap-inner { padding: 15px 0; }
body.header-style-3 #site-header .site-navigation-wrap { background-color: #2594BF; }
body.header-style-3 #site-header .site-navigation-wrap .inner { position: relative; }
body.header-style-3 #site-header #main-nav { position: inherit; z-index: 999; }

body.header-style-3 #site-info { position: relative; }
body.header-style-3 #site-info .site-logo { float: left; }
body.header-style-3 #site-info .info-add { position: absolute; top: 0; right: 500px; }
body.header-style-3 #site-info .info-phone { position: absolute; top: 0; right: 250px; }
body.header-style-3 #site-info .info-hour { position: absolute; top: 0; right: 0; }

body.site-layout-full-width.header-style-5 #site-header-wrap { position: absolute; left: 0; top: 0; width: 100%; background-color: transparent; z-index: 999; color: #fff; }
body.site-layout-full-width.header-style-5 #top-bar { background-color: rgba(0,0,0,0.2); color: #fff; }
body.site-layout-full-width.header-style-5 #site-header { background-color: rgba(0,0,0,0.3) }
body.site-layout-full-width.header-style-5 #main-nav ul li a { color: #fff; } 
body.site-layout-full-width.header-style-5 #site-header .header-search-icon { color: #fff; }

/* Header Aside Content */
#site-header #header-aside { float: right; }
#site-header .wprt-info { float: right; }
#site-header .wprt-info .info-wrap { display: table; overflow: hidden; width: 100%; }
#site-header .wprt-info .info-i,
#site-header .wprt-info .info-c { display: table-cell; text-align: left; vertical-align: middle; }
#site-header .wprt-info .info-i { width: 45px; }

#site-header .wprt-info .info-i span { position: relative; color: #2594BF; font-size: 30px; }
#site-header .wprt-info .inner > div { float: left; display: block; width: 280px; position: relative; line-height: 20px; }
#site-header .wprt-info .inner > div:first-child { margin-left: 0; }
#site-header .wprt-info .inner > .address { width: 256px; }
#site-header .wprt-info .inner > .phone { width: 240px; }
#site-header .wprt-info .info-c > span { font-size: 20px; }

/* Header Fixed */
#site-header.is-fixed { position: fixed; left: 0; top: 0; width: 100%; z-index: 999999; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
#site-header.is-fixed:after { filter: alpha(opacity=80); opacity: 0.8; }
#site-header.is-fixed #site-header-inner { padding-top: 18px; padding-bottom: 18px; }
#site-header.is-fixed #main-nav ul ul { top: 115%; -webkit-transition: all ease .238s; transition: all ease .238s; }

/* Menu */
#main-nav ul { margin: 0; list-style: none; }
#main-nav ul li { position: relative; padding: 0; }
#main-nav ul li a { font-size: 16px; color: #232323; font-family: 'Montserrat', sans-serif; font-weight: 400; display: inline-block; }
#main-nav ul li a:hover { color: #2594BF; }
#main-nav > ul > li { float: left; padding: 0 17px; }
#main-nav > ul > li:last-child { padding-right: 0; }
#main-nav > ul > li > a { line-height: 60px; position: relative; }
#main-nav > ul > li.current-menu-item > a:before,
#main-nav > ul > li > a:before { position: absolute; top: 75%; left: 0; content: ""; width: 100%; height: 3px; background-color: #2594BF; -webkit-transition: all ease .500s; transition: all ease .500s; }
#main-nav > ul > li > a:before { width: 0; -webkit-transition: all ease .500s; transition: all ease .500s; }
#main-nav > ul > li > a:hover:before { width: 100%; -webkit-transition: all ease .500s; transition: all ease .500s; }

body.header-style-3 #site-header #main-nav > ul > li { padding: 0 23px; }
body.header-style-3 #site-header #main-nav > ul > li.current-menu-item > a,
body.header-style-3 #site-header #main-nav > ul > li:hover > a { color: #fff; }

/* SubMenu */
#main-nav ul ul { position: absolute; top: 154%; left: 0; width: 250px; visibility: hidden; opacity: 0; background-color: #232323; box-shadow: 0px 3px 8px 0 rgba(0,0,0,0.1); -webkit-transform: translateX(10px); transform: translateX(10px); -webkit-transition: all ease .238s; transition: all ease .238s; }
#main-nav ul ul li { padding: 13px 20px; border-top: solid 1px #333; }
#main-nav ul ul li a { color: #e3e3e3; display: block; font-size: 14px; }
#main-nav ul ul li a:hover { color: #2594BF; }
#main-nav ul li.menu-item-has-children > a { position: relative; padding-right: 15px; }
#main-nav ul li.menu-item-has-children > a:after { position: absolute; top: 0; right: 0; content: "\f107"; font-family: "Fontawesome"; }
#main-nav ul ul li.menu-item-has-children > a:after { content: "\f105"; top: 50%; right: 0; transform: translateY(-50%); }
#main-nav ul ul ul { position: absolute; top: 0; left: 100%; }
#main-nav ul li:hover > ul { opacity: 1; visibility: visible; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: all ease .238s; transition: all ease .238s; }

body.header-style-3 #site-header #main-nav ul ul { top: 100%; background-color: #f7f7f7; }
body.header-style-3 #site-header #main-nav ul ul li { border-top-color: #c7c7c7; }
body.header-style-3 #site-header #main-nav ul ul li a { color: #232323; }

/* Mobile Navigation */
#main-nav-mobi { display: block; margin: 0 auto; width: 100%; position: absolute; left: 0; top: 100%; z-index: 999999; background-color: #252525; }
#main-nav-mobi ul { display: block; list-style: none; margin: 0; padding: 0; }
#main-nav-mobi ul li { margin:0; position: relative; text-align: center; cursor: pointer; border-top: 1px solid #333; padding-top: 0; padding-bottom: 0; }
#main-nav-mobi ul > li > a { color: #aaa; font-family: "Montserrat", sans-serif; display: inline-block; font-size: 14px; text-transform: uppercase; line-height: 50px; text-decoration: none; }
#main-nav-mobi ul > li > a:hover { color: #2594BF; }
#main-nav-mobi ul ul li { background-color: #292929; }
#main-nav-mobi ul ul ul li { background-color: #313131; }
#main-nav-mobi ul li.menu-item-has-children .arrow { position: absolute; right: 0; text-align: center; top: 0; height: 50px; width: 50px; line-height: 50px; display: inline-block; cursor: pointer; }
#main-nav-mobi ul li.menu-item-has-children .arrow::after { width: 50px; text-align: center; font-size: 20px; position: absolute; top: 0; right: 0; content: "\f105"; font-family: "Fontawesome"; } 
#main-nav-mobi ul li.menu-item-has-children .arrow.active::after { content: "\f107"; } 

/* Mobile Button */
.mobile-button { margin-top: 12px; width: 26px; height: 16px; display: none; float: right; position: relative; background-color: transparent; cursor: pointer; -webkit-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after, 
.mobile-button span { background-color: #232323; -webkit-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after { content: ''; position: absolute; top: 0; height: 3px; width: 100%; left: 0; top: 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.mobile-button span { position: absolute; width: 100%; height: 3px; left: 0; top: 50%; overflow: hidden; text-indent: 200%; }
.mobile-button:before { -webkit-transform: translate3d(0,-7px,0); transform: translate3d(0,-7px,0); }
.mobile-button:after { -webkit-transform: translate3d(0,7px,0); transform: translate3d(0,7px,0); }
.mobile-button.active span { opacity: 0; }
.mobile-button.active:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.mobile-button.active:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }

/* Header Search */
#site-header .header-search-icon { color: #232323; line-height: 60px; display: inline-block; font-size: 16px; }
#site-header .header-search-icon:hover { color: #2594BF; }
#site-header .header-search-form { position: absolute; top: 50%; right: 25px; transform: translateY(-50%); display: none; }
#site-header .header-search-field { padding-top: 5px; padding-bottom: 5px; width: 210px; margin: 0; }
#site-header .header-search-submit { position: absolute; top: 0; right: 0; display: none; opacity: 0; }

/* Featured Title
-------------------------------------------------------------- */
#featured-title { background: url(assets/img/fetured-title.jpg) no-repeat left center; background-size: cover; padding: 76px 0; }
#featured-title .featured-title-inner-wrap { display: table; width: 100%; height: 100%; }
#featured-title .featured-title-heading-wrap { display: table-cell; text-align: left; vertical-align: middle; width: 50%; }
#featured-title .featured-title-heading { margin: 0; font-size: 36px; line-height: 48px; color: #fff; }
#featured-title #breadcrumbs { display: table-cell; text-align: right; vertical-align: middle; width: 50%; }
#featured-title .breadcrumb-trail { font-size: 16px; line-height: 34px; }
#featured-title .breadcrumb-trail .trail-begin { color: #2594BF; }
#featured-title .breadcrumb-trail .trail-end { color: #fff; }
#featured-title .breadcrumb-trail .sep { color: #fff; }

/* Blog Post
-------------------------------------------------------------- */
.hentry { margin-top: 58px; background-color: #fff; border: solid 1px #f1f1f1; }
.hentry:first-child { margin-top: 0; }
.hentry .post-content-wrap { padding: 60px 35px 27px 40px; }

/* Post Media */
.hentry .post-media { position: relative; }
.hentry .post-media .post-day { position: absolute; bottom: -35px; left: 40px; width: 70px; height: 70px; padding-top: 7px; background-color: #2594BF; color: #fff; line-height: 28px; text-align: center; }
.hentry .post-media .post-day p { font-family: 'Montserrat', sans-serif; margin: 0; font-size: 16px; }
.hentry .post-media .post-day .day { margin-bottom: 3px; font-size: 24px; }
.hentry .post-media .post-day .month { font-size: 16px; }

/* Post Title */
.hentry .post-title { line-height: 30px; font-size: 22px; margin-bottom: 16px; }

/* Post Content */
.hentry .post-content { padding-bottom: 26px; margin-bottom: 20px; border-bottom: solid 1px #f1f1f1; }

/* Post Meta */
.hentry .post-read-more { float: left; }
.hentry .post-read-more a { position: relative; display: inline-block; color: #2594BF; font-family: "Montserrat", sans-serif; padding-bottom: 7px; }
.hentry .post-read-more a:after { content: ""; position: absolute; left: 0; bottom: 2px; width: 100%; height: 2px; background-color: #2594BF; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
.hentry .post-read-more a:hover:after { width: 0; }
.hentry .post-meta { float: right; padding-top: 3px; }
.hentry .post-meta .meta { display:inline-block; position: relative; padding-left: 23px; margin-right: 15px; font-style: italic; font-size: 13px; }
.hentry .post-meta .meta.comment { margin-right: 8px; font-style: normal; }
.hentry .post-meta .meta:after { position: absolute; top: 2px; left: 0; color: #2594BF; content: ""; line-height: normal; font-family: "Fontawesome"; font-size: 17px; font-style: normal; }
.hentry .post-meta .meta.author:after { content: "\f007"; }
.hentry .post-meta .meta.comment:after { content: "\f086"; }

/* Blog Single
-------------------------------------------------------------- */
.hentry .post-content-single-wrap .post-content-wrap { padding: 59px 35px 10px 38px; }
.hentry .post-content-single-wrap .post-content-wrap .post-content { margin-bottom: 18px; padding-bottom: 14px; }
.hentry .post-content-single-wrap .post-content-wrap .post-content .block { background-color: #fff; border-left: solid 5px #2594BF; padding: 0 0 0 20px; margin: 40px 0 34px 0; font-size: 16px; }

/* Post Meta Tag */
.hentry .post-content-single-wrap .post-meta { float: none; }
.hentry .post-content-single-wrap .post-meta-tag { float: left; }
.hentry .post-content-single-wrap .post-meta-tag a { float: left; display: inline-block; height: 40px; border: solid 1px #f1f1f1; border-radius: 3px; padding: 0 18px; margin: 0 10px 10px 0; font-size: 16px; color: #888; line-height: 40px; }
.hentry .post-meta .post-meta-tag a:hover, 
.hentry .post-meta .post-meta-share-icon a:hover { background-color: #2594BF; color: #fff; }
.hentry .post-meta .post-meta-share-icon { float: right; margin-right: 3px; }
.hentry .post-meta .post-meta-share-icon a { width: 40px; height: 40px; margin-left: 7px; display: inline-block; text-align: center; line-height: 40px; color: #fff; background-color: #c7c7c7; border-radius: 10%; }

/* Post Author */
.author-post { border: solid 1px #f1f1f1; margin-top: 50px; padding: 30px 40px; }
.author-post .thumb { float: left; margin-right: 27px; width: 130px; }
.author-post .thumb img { border-radius: 50%; }
.author-post .texts { overflow: hidden; padding-top: 8px; }
.author-post .texts h4 { font-size: 16px; margin-bottom: 2px; }
.author-post .texts h4 a:hover { color: #2594BF; }
.author-post .texts .position { margin-bottom: 9px; }

/* Post Comment */
#comments { margin-top: 44px; }
#comments #reply-title { position: relative; font-size: 18px; color: #383838; padding-bottom: 24px; margin-bottom: 40px; text-transform: uppercase; }
#comments #reply-title:after { position: absolute; left: 0; bottom: 0; content: ""; width: 70px; height: 2px; background-color: #2594BF; }

/* Comment List */
#comments .comments-title { margin-bottom: 30px; }
#comments ol { list-style: none; margin: 0; margin-bottom: 30px; }
#comments ol li .gravatar { float: left; margin-right: 20px; width: 80px; }
#comments ol li .gravatar img { border-radius: 50%; }
#comments ol li .comment-content { overflow: hidden; border-bottom: solid 1px #f1f1f1; padding-bottom: 20px; margin-bottom: 20px; }
#comments ol li .comment-reply a { color: #2594BF; padding-left: 5px; }
#comments ol li .comment-reply a:hover { color: #232323; }
#comments ol li ul { list-style: none; margin: 0; }
#comments ol li ul li .comment-wrap { margin-left: 100px; }

/* Comment Form */
.comment-form .email-wrap,
.comment-form .name-wrap { float: left; margin-bottom: 10px; }
.comment-form .email-wrap { float: right; width: 48.701%; }
.comment-form .email-wrap input,
.comment-form .name-wrap input { padding: 16px 30px; }
.comment-form .name-wrap { width: 48.701%; margin-right: 2.598%; }
.comment-form textarea { height: 300px; }
.comment-form input { padding-left: 30px; }
.comment-form .form-submit { margin: 0; }

/* Pagination */
.pagination-page { margin-top: 80px; }
.pagination-page ul { margin: 0; list-style: none; }
.pagination-page ul li .page { width: 40px; height: 40px; line-height: 38px; font-size: 16px; color: #888; border: solid 1px #f1f1f1; display: inline-block; text-align: center; vertical-align: middle; margin-right: 15px; }
.pagination-page ul li { float: left; }
.pagination-page ul li .page.curent, 
.pagination-page ul li .page:hover { color: #fff; background-color: #2594BF; }

/* Side Bar 
-------------------------------------------------------------- */
#sidebar .widget, 
#footer-widgets .widget { margin-bottom: 50px; }
#footer-widgets .widget { margin-bottom: 30px; }

/* Widget Title */
#sidebar .widget .widget-title , 
#footer-widgets .widget .widget-title { color: #232323; font-size: 18px; line-height: 30px; text-transform: uppercase; }

#sidebar .widget .widget-title { position: relative; padding-bottom: 23px; margin-bottom: 34px; }
#sidebar .widget .widget-title:after { position: absolute; left: 0; bottom: 0; content: ""; width: 70px; height: 2px; background-color: #2594BF; }
#footer-widgets .widget .widget-title { color: #fff; font-size: 18px; line-height: 30px; margin-bottom: 25px; }

/* Widget Search */
#sidebar .widget-search .search-form,
#footer .widget-search .search-form { position: relative; }
#sidebar .widget-search .search-form .search-field ,
#footer .widget-search .search-form .search-field { margin: 0; padding: 16px 19px 16px 32px; border-color: #f1f1f1; }
#sidebar .widget-search .search-form .search-field:focus,
#footer .widget-search .search-form .search-field:focus { border-color: #c7c7c7; }
#sidebar .widget-search .search-form .search-submit,
#footer .widget-search .search-form .search-submit { position: absolute; top: 0; right: 0; padding: 0; width: 60px; height: 60px; text-indent: -9999px; background-color: transparent; }
#sidebar .widget-search .search-form .search-submit:after ,
#footer .widget-search .search-form .search-submit:after { position: absolute; top: 0; right: 20px; line-height: 60px; content: "\f002"; font-size: 16px; font-family: "Fontawesome"; color: #c7c7c7; text-indent: 0; }
#sidebar .widget-search .search-form .search-submit:hover:after,
#footer .widget-search .search-form .search-submit:hover:after { color: #2594BF; }

/* Widget Categories */
#footer .widget-categories ul,
#sidebar .widget-categories ul { list-style: none; padding: 0; margin: 0; }
#footer .widget-categories ul li,
#sidebar .widget-categories ul li { border-top: solid 1px #f1f1f1; padding: 15px 0 15px 10px; }
#sidebar .widget-categories ul li:first-child,
#footer .widget-categories ul li:first-child { border: none; padding-top: 0; }
#footer .widget-categories ul li:last-child,
#sidebar .widget-categories ul li:last-child { padding-bottom: 0; }
#sidebar .widget-categories ul li a,
#footer .widget-categories ul li a { color: #888; line-height: 26px; font-size: 16px; }
#sidebar .widget-categories ul li a:hover,
#footer .widget-categories ul li a:hover { color: #2594BF; }

/* Widget Recent News */
#footer .widget-recent-new ul,
#sidebar .widget-recent-new ul { list-style: none; margin: 0; padding: 6px 0 0 0; }
#sidebar .widget-recent-new ul li { border-top: solid 1px #f1f1f1; padding: 22px 0; }
#footer .widget-recent-new ul li { border-top: solid 1px #343434; padding: 22px 0; }
#footer .widget-recent-new ul li:first-child,
#sidebar .widget-recent-new ul li:first-child { border: none; padding-top: 0; }
#footer .widget-recent-new ul li:last-child,
#sidebar .widget-recent-new ul li:last-child { padding-bottom: 0; }
#footer .widget-recent-new ul li .thumb,
#sidebar .widget-recent-new ul li .thumb { float: left; margin-right: 20px; }
#footer .widget-recent-new ul li .texts,
#sidebar .widget-recent-new ul li .texts { overflow: hidden; }
#footer .widget-recent-new ul li .texts h3,
#sidebar .widget-recent-new ul li .texts h3 { font-size: 16px; line-height: 26px; color: #232323; margin: 2px 0 9px 0; }
#footer .widget-recent-new ul li h3,
#sidebar .widget-recent-new ul li h3 { font-size: 14px; color: #c7c7c7; margin-bottom: 0 0 5px 0; }
#footer .widget-recent-new ul li h3 a:hover,
#sidebar .widget-recent-new ul li .texts h3 a:hover { color: #2594BF; }
#footer .widget-recent-new ul li .texts .post-date,
#sidebar .widget-recent-new ul li .texts .post-date { font-style: italic; }

/* Widget Tags */
#sidebar .widget_tag_cloud .tagcloud, 
#footer .widget_tag_cloud .tagcloud { margin-top: 5px; }
#sidebar .widget_tag_cloud .tagcloud .tag-link,
#footer .widget_tag_cloud .tagcloud .tag-link { float: left; display: inline-block; height: 50px; border: solid 1px #f1f1f1; border-radius: 3px; padding: 0 15px; margin: 0 20px 20px 0; font-size: 16px; color: #888; line-height: 50px; }
#footer .widget_tag_cloud .tagcloud .tag-link { background-color: #2594BF; color: #fff; border: none; }
#sidebar .widget_tag_cloud .tagcloud .tag-link:hover { background-color: #2594BF; color: #fff; border-color: #2594BF; }
#footer .widget_tag_cloud .tagcloud .tag-link:hover { background-color: #303030; }

/* Widget About */
#footer .widget-about > .text p { margin: 0; padding-bottom: 28px; border-bottom: solid 1px #343434; }

/* Widget Socials */
#footer .widget-socials a { width: 40px; height: 40px; line-height: 40px; border-radius: 3px; color: #fff; font-size: 16px; display: inline-block; text-align: center; vertical-align: middle; }
#footer .widget-socials a:hover,
#footer .widget-socials a.active { background-color: #2594BF; }

/* Widget Navigation */
#footer .widget-navigation ul { margin: 0; list-style: none; }
#footer .widget-navigation ul li { margin-bottom: 14px; }
#footer .widget-navigation ul li a { position: relative; color: #888; padding-left: 19px; display: inline-block;	 }
#footer .widget-navigation ul li a:after { position: absolute; top: 0; left: 0; content: "\f101"; font-family: "fontAwesome"; color: #c7c7c7; }
#footer .widget-navigation ul li a:hover,
#footer .widget-navigation ul li a:hover:after { color: #2594BF; }

/* Widget Contact */
.wprt-widget-contact-form-1 { padding-top: 5px; }
.wprt-widget-contact-form-1 .wrap-submit { margin-top: 30px; }
#footer .form-control-wrap.your-name,
#footer .form-control-wrap.your-email { float: left; }
#footer .form-control-wrap.your-email { width: 46.296%; }
#footer .form-control-wrap.your-name { width: 46.296%; margin-right: 7.407%; }
#footer .wrap-submit .widget-submit { width: 160px; height: 50px; margin-top: 30px; }
#footer .wrap-submit .widget-submit:hover { color: #888; background-color: #fff; border: solid 1px #fff; }
#footer .form-control-wrap input,
#footer .form-control-wrap textarea { padding: 7px 14px; border-color: #343434; background-color: transparent; }
#footer .form-control-wrap textarea { height: 100px; }

/* Footer
-------------------------------------------------------------- */
#footer { background-color: #232323; padding: 70px 0 50px; 0; }
#footer ::-webkit-input-placeholder { color: #888; }
#footer :-moz-placeholder { color: #888; }
#footer ::-moz-placeholder { color: #888; opacity: 1; }/* Since FF19 lowers the opacity of the placeholder by default */ }
#footer :-ms-input-placeholder { color: #888; }

/* Bootom
-------------------------------------------------------------- */
#bottom { background-color: #191919; }
#bottom #bottom-bar-inner { padding: 35px 0; position: relative; }
#bottom .bottom-bar-inner-wrap { position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%); }
#bottom .copyright { text-align: center; margin: 0; }
#bottom .copyright span { margin-right: 5px; }

/* Revolution Slider
-------------------------------------------------------------- */

/* Hero Slideshow
-------------------------------------------------------------- */
#hero-section { position: relative; }
#hero-section .hero-content { position: relative; z-index: 20; text-align: center; }
#hero-section .hero-title { overflow: hidden; height: 80px; vertical-align: baseline; }
#hero-section .hero-title h1 { font-size: 80px; color: #fff; height: 80px; line-height: 80px; margin: 0; font-weight: bold; text-shadow: 1px 1px 3px rgba(0,0,0,.3); -webkit-transition: margin-top 0.4s ease-in-out; -moz-transition: margin-top 0.4s ease-in-out; transition: margin-top 0.4s ease-in-out; }
#hero-section .typed-cursor{ opacity: 1; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }
@keyframes blink { 0% { opacity:1; } 50% { opacity:0; } 100% { opacity:1; } }
@-webkit-keyframes blink { 0% { opacity:1; } 50% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes blink { 0% { opacity:1; } 50% { opacity:0; } 100% { opacity:1; } }
#hero-section .hero-text { font-size: 20px; width: 100%; color: #fff; 	margin: 10px 0 40px; text-shadow: 1px 1px 3px rgba(0,0,0,.3); }
#hero-section .hero-text > p { padding: 0 15px; max-width: 600px; margin: 0 auto; }
#hero-section .arrow { position: absolute; bottom: 10px; left: 50%; margin-left: -20px; width: 40px; height: 40px; z-index: 999; animation: bounce 2.5s infinite; -webkit-animation: bounce 2.5s infinite; -moz-animation: bounce 2.5s infinite; }
#hero-section .arrow:after { content: "\f107"; font-family: "FontAwesome"; font-size: 24px; color: #fff; position: absolute; left: 0; top: 0; width: 100%; height: 40px; line-height: 40px; text-align: center; }
#hero-section .arrow:hover:after { color: #ffbc13; }
#hero-section .arrow-2 { display: inline-block; width: 50px; height: 150px; font-size: 34px; animation: bounce 2.5s infinite; -webkit-animation: bounce 2.5s infinite; -moz-animation: bounce 2.5s infinite; }
#hero-section .arrow-2:hover,
#hero-section .arrow-2:focus { color: #fff; }

/* Scroll Top
-------------------------------------------------------------- */
#scroll-top { position: fixed !important; right: 25px; bottom: -50px; display: block; line-height: 38px; text-align: center; width: 40px; height: 40px; visibility: hidden; opacity: 0; z-index: 9999; cursor: pointer; z-index: 1; overflow: hidden; }
#scroll-top:after { content: font-family: "FontAwesome"; color: #fff; font-size: 20px; position: absolute; left: 0; top: 0; width: 100%; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:before { border-radius: 3px; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #ffbc13; z-index: -1; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:hover:before { background-color: #585252; }
#scroll-top:hover:after { color: #fff; }
#scroll-top.show { bottom: 18px; filter: alpha(opacity=100); opacity: 1; visibility: visible; }

/* Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
	.container { width: 1200px; }
}

@media only screen and (max-width: 991px) {
	#top-bar,
	#main-nav,
	#site-header #header-search,
	#sidebar { display: none; }

	#site-header .mobile-button { display: block; }
	#site-header #site-header-inner { padding-top: 20px; padding-bottom: 20px; }

	#site-content,
	#sidebar { width: 100% !important; max-width: none !important; float: none; }
	#inner-content { padding-left: 0 !important; padding-right: 0 !important; }

	#featured-title { padding: 40px 0; }
	#featured-title .featured-title-heading { font-size: 30px; }

	#main-content { padding: 60px 0; }

	.font-size-70 { font-size: 40px !important; }
}

@media only screen and (max-width: 767px) {
	#featured-title .featured-title-inner-wrap,
	#featured-title .featured-title-heading-wrap,
	#featured-title #breadcrumbs { display: block; width: 100%; text-align: left; }

	.hentry .post-read-more a { margin-bottom: 10px; }

	.hentry .post-author { text-align: center; }
	.author-post .thumb { width: 70px; }
	.hentry .post-author .author-avatar { float: none; margin: 0 auto 20px; }
	#comments ol li ul li .comment-wrap { margin-left: 70px; }
	#comments ol li .gravatar { width: 50px; float: none; margin: 0 0 17px; }
	.comment-form .name-wrap, .comment-form .email-wrap { width: 100%; float: none; margin: 0; }

	#footer { padding: 50px 0; }
	#footer-widgets .col .widget:last-child { margin-bottom: 40px; }
	#footer-widgets .col:last-child .widget:last-child { margin-bottom: 0px; }
	#footer-widgets .wprt-row .col { width: 100%; }
	#footer .form-control-wrap.your-name,
	#footer .form-control-wrap.your-email { float: none; width: 100%; margin: 0; }

	.text-center-mobi { text-align: center !important; }
}

@media(max-width:767px){
	.main-logo img {
		width: 120px;
	}
}